html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
margin: 0;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 1, 1.5, 2.5)),url();
background-size: 50%;
}
h1 {
font-size: 6rem;
text-shadow: 0 0 0 100px black, 0 0 0 10px black;
}

h2 {
font-size: 2.5rem;
text-shadow: 0 0 0 10px black;
}

section.board {
display: grid;
grid-template-rows: repeat(6, 10vmin);
grid-template-columns: repeat(7, 10vmin);
grid-gap: 1vmin;
}

div {
border: 1px solid black;
border-radius: 50%;
font-size: 8vmin;
text-align: center;
vertical-align: middle;

}
